<!DOCTYPE html>
<html lang="en" dir="ltr">
    
<head>
<title>KPMG CYBER THREATS</title>
<meta charset="iso-8859-1">
<link rel="stylesheet" href="src/main/resources/assets/styles/layout.css" type="text/css">
<!--[if lt IE 9]><script src="src/main/resources/scripts/html5shiv.js"></script><![endif]-->



<script type="text/javascript" >
function CHART () {
    var dps = [];
    for(i = 28; i<51; i++){
        j=i;
        if(i>60)
        {
            j=i-60;
        }
        dps.push({x:j+1, y: Math.floor((Math.random() * 10) + 1)})
    }
	var chart = new CanvasJS.Chart("chartContainer",
	{
		animationEnabled: true,
		theme: "theme2",
		//exportEnabled: true,
		title:{
			text: "Trends for: ....."
		},
		data: [
		{
			type: "line", //change type to bar, line, area, pie, etc
                        click: onClick,
			dataPoints: dps
		}
		]
	});

	chart.render();
        function onClick(e) {
		document.getElementById("relatedItem1").innerHTML = "first related item";
                document.getElementById("relatedItem2").innerHTML = "second related item";
		document.getElementById("relatedItem3").innerHTML = "third related item";
                document.getElementById("relatedItem4").innerHTML = "fourth related item";


    }
    document.getElementById("chartContainer").style.height = "350px";
}
</script>
<script type="text/javascript" src="canvasjs.min.js"></script>

</head>




<body>
    
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
    <figure><img src="images/demo/logo-kpmg.png" width="500" height="90" alt=""></figure>
    </div>
    <nav>
      <ul> 
        <li class="last"><a href="#">Preferences</a></li>
      </ul>
    </nav>
  </header>
</div>
    
    
    
<!-- CHART! -->
<div class="wrapper row2">
  <div id="container" class="clear">
      <section id="latest">
        <div id="chartContainer" style="width: 100%;"></div>
      </section>
  </div>
</div>

<div class="wrapper row2">
  <div id="container" class="clear">
    <div id="homepage">
      <!-- services area -->
      <section id="services" class="clear">
        <article class="one_quarter">          
          <strong id = "relatedItem1"></strong>
        </article>
           <article class="one_quarter">          
          <strong id = "relatedItem2"></strong>
        </article>
           <article class="one_quarter">          
          <strong id = "relatedItem3"></strong>
        </article>
           <article class="one_quarter">          
          <strong id = "relatedItem4"></strong>
        </article>



<!-- NEWS ARTICLES -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <div id="homepage">
      <!-- services area -->
      <section id="services" class="clear">
        <article class="one_quarter">          
          <strong >{{article.title}}</strong>
          <p> bla bla bla bla bla </p>
          <p class="more"><button onclick="CHART()">Trend of this topic</button></p>
        </article>
        <article class="one_quarter">
           
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><button onclick="CHART()">Trend of this topic</button></p>
        </article>
        <article class="one_quarter">
           
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><button onclick="CHART()">Trend of this topic</button></p>
        </article>
        <article class="one_quarter lastbox">
           
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><button onclick="CHART()">Trend of this topic</button></p>
        </article>
      </section>
      <section id="services" class="clear">
        <article class="one_quarter">
           
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><button onclick="CHART()">Trend of this topic</button></p>
        </article>
        <article class="one_quarter">
           
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><button onclick="CHART()">Trend of this topic</button></p>
        </article>
        <article class="one_quarter">
           
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><button onclick="CHART()">Trend of this topic</button></p>
        </article>
        <article class="one_quarter lastbox">
           
          <strong>Lorum ipsum dolor</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam erat. In fringilla massa ut nisi ullamcorper.</p>
          <p class="more"><button onclick="CHART()">Trend of this topic</button></p>
        </article>
      </section>
      <!-- / services area -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- ########################################################################################## -->
      <!-- / latest work -->
      <section id="latest">
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
      </section>
      <!-- / latest work -->
    </div>
    <!-- main content -->
   
      <!-- /nav -->
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2012 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </footer>
</div>
</body>
</html>
